/*
Stylings for pages
*/

#inner-content{
  padding-top:.5rem !important;
}

.entry-content{
  text-align: justify;
  padding: .9rem .5rem 0;
}

.about-us{
  @include card();
  display:inline-block;
  padding: 0 0 1rem;
  text-align: left;
  box-shadow: 3px 3px 6px #CDCDCD;

  .entry-content{
    text-align: justify;
    padding: .9rem 1rem 0;
  }

  //For post titles
  h2{
    @include card-title();
    text-align: center;
  }
  //Page titles
  h1{
    font-family: 'Roboto Condensed', san-serif;
    text-transform: uppercase;
    font-size: 2.5rem;
    font-weight: bold;
    text-align: left;
    color: #C5C5C5;
  }
}



