//set background
#container{
  background-color:#f0eee4;
}

.post{
  @include card();
  .article-header{
   @include card-title();
    h2{
      text-transform: uppercase;
    }
  }
}

@media #{$medium-only}{
  .tweets{
    clear: left;
    float: left;
  }
  #main{
    height:0;
  }
}


@media #{$small-only} {
  .sidebar-container{
    float:none;
    padding: 0 0.9375rem;
//    margin: 0 auto;
//    text-align: center;
  }
}